body {
    background-color: black;
    display: flex;
    justify-content: center;
}

#notes-and-grid-wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
    float: left;
    /* margin-left: 300px; */
    background-color: white;
    display: flex;
}

#grey-box {
    background-color: lightgray;
    width: 431px;
    height: 338px;
    float: right;
}

#note-name-boxes {
    float: left;
}

#note-name-boxes div {
    display: left;
    width: 41px;
    height: 20px;
    background-color: lightgray; 
    text-align: center;
    border-style: solid;
    border-color: white;
    order: 1;
}

#grey-box-grid {
    width: 200px;
    height: 200px;
    order: 2;
}

#grey-box button {
    width: 41px;
    height: 21px;
    background-color: dimgray;
    margin: 2px 5px; 
    
}

.menu {
    display: flex;
    flex: 1; 
    flex-direction: column;
}

#title-box-wrapper {
    width: 431px;
    height: 28px;
    background-color: black;
    margin:auto;
    /* margin-left: 370px;  */
    order: 2;
}

#title-box {
    text-align: left;  
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: lightgray;
}

#buttons {
    width: 431px;
    height: 18 px;
    display: block;
    margin: auto;
    background-color: white;
    order: 3;
    display: flex;
    flex-direction: column;
}

#start-button {
    /* margin-left: 370px; */
    display: inline-block;
}

#stop-button {
    /* margin-left: 10px; */
    display: inline-block;
}

.vol-slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 4;
}

.slider{
    width:10%;
    height: 25px;
}



/* #big-Grid-Button {
    height: 18px;
    width: 41px;
    background-color: darkgray;
    padding: 10px 5px;
} */



/* .note-boxes {
    display: left;
    width: 41px;
    height: 20px;
    background-color: lightgray; 
} */


/* * {
    font-size: 100px;
}

body {
    background-color:rgb(56,56,56);
}

#title {
    font-size: 160px;
    background-color: mediumorchid;
}

#text-box {
    background-color:white;
    color: #696969;
    width: 530px;
    height: 128px;
    margin: auto;
    font-size: 130px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top: 200px;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center;
}

#jenny-grid-wrapper {
    display: flex;
    justify-content: center;
}

#jenny-grid {
    display: inline-block;
}

#play-button {
    width: 530px;
    height: 150px;
    text-align: center;
    display: block;
    margin: 25 auto;
    background-color: rgb(90,181, 44);
    color: white;
}

td {
    font-size: 100px;
}

button {
    color: firebrick;
    border-radius: 30px;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    background-color: white;
    border-color:black;
    margin: 25px;
    font-size: 130px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

button:active {
    background: red;
}
 */
