.page-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
}

#notes-and-grid-wrapper {
    width: 500px;
    height: 500px;
    float: left;
    background-color: black;
    display: flex;
}

.grey-box {
    background-color: black;
    width: 431px;
    height: 338px;
    float: right;
}

#note-name-boxes {
    float: left;
    background-color: black;
}

#note-name-boxes div {
    display: left;
    width: 41px;
    height: 20px;
    background-color: plum; 
    text-align: center;
    border-style: solid;
    border-color: white;
}

#grey-box-grid {
    width: 200px;
    height: 200px;
}

.grid-button-default {
    width: 41px;
    height: 21px;
    background-color: dimgray;
    margin: 2px 5px;     
}

.row {
    border: solid 1px black;
}

.row:nth-child(6n+1) button{
    background-color: saddlebrown;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.title-box-wrapper {
    width: 100px;
    height: 28px;
    background-color: black;
    margin:auto;
}

#title-box {
    text-align: left;  
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: lightgray;
}

#buttons {
    width: 100px;
    height: 18 px;
    margin: auto;
    background-color:black;
    display: flex;
    flex-direction: column;
}

#start-button {
    display: inline-block;
}

#stop-button {
    display: inline-block;
}

.vol-slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 25px;
}

.edit-button {
    width: 100%;
    height: 18px; 
}