.page-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
}

#notes-and-grid-wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
    float: left;
    background-color: black;
    display: flex;
}

.grey-box {
    background-color: black;
    width: 431px;
    height: 338px;
    float: right;
}

/* .grey-box:first-child {
    background: saddlebrown;  
} */

#note-name-boxes {
    float: left;
    background-color: black;
}

#note-name-boxes div {
    display: left;
    width: 41px;
    height: 20px;
    background-color: plum; 
    text-align: center;
    border-style: solid;
    border-color: white;
    order: 1;
}

#grey-box-grid {
    width: 200px;
    height: 200px;
    order: 2;
}

#grey-box button {
    width: 41px;
    height: 21px;
    background-color: dimgray;
    margin: 2px 5px; 
    
}

.menu {
    display: flex;
    flex: 1; 
    flex-direction: column;
    width: 100px;
}

.title-box-wrapper {
    width: 100px;
    height: 28px;
    background-color: black;
    margin:auto;
    order: 2;
}

#title-box {
    text-align: left;  
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: lightgray;
}

#buttons {
    width: 100px;
    height: 18 px;
    margin: auto;
    background-color:black;
    order: 3;
    display: flex;
    flex-direction: column;
}

#start-button {
    /* margin-left: 370px; */
    display: inline-block;
}

#stop-button {
    /* margin-left: 10px; */
    display: inline-block;
}

.vol-slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 4;
}

.slider{
    width:10%;
    height: 25px;
}
